:root {
--veryDarkBlue: #070439;
--desaturatedBlue: #585989;
--brightBlue: #3065f8;
--moderateCyan: #3c9f8f;
--lightGrayishBlue: #f6f6fe;
--lightGray: #bfbfbf;
--fontSize: 16px;
--openSans: "Open Sans", sans-serif;
--openSansRegular: 400;
--raleway: "Raleway", sans-serif;
--ralewayRegular: 400;
--ralewayBold: 700;
--mobileText: 15px;
--tabletText: 17px;
--mainTranistionDuration: .3s
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--openSans);
    font-size: var(--fontSize);
    font-weight: var(--openSansRegular);
    background-color: white;
}

/* components */

.container {
    padding: 0 20px;
    margin: 0 auto;
}

@media (min-width: 480px) {
    .container {
        width: 475px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1150px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 1380px;
    }
}


/* header start */

header {
    padding: 30px 0;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    max-width: 80px;
}
header .logo img {
    width: 100%;
}
header ul {
    list-style: none;
    display: flex;
    font-size: var(--mobileText);
    align-items: center;
    gap: 25px;
    position: relative;
    bottom: 3.5px;
    font-family: var(--raleway);
}
header ul li a {
    color: var(--veryDarkBlue);
    text-decoration: none;
}
/* header end */

/* landing start */

.landing {
    padding: 40px 0 100px;
    text-align: center;
}
.landing .container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 30px;
}
.landing .image-box {
    max-width: 97%;
}
.landing .image-box img {
    max-width: 100%;
}
.landing main h1 {
    color: var(--veryDarkBlue);
    font-size: 23px;
    max-width: 95%;
    line-height: 1.3;
    font-family: var(--raleway);
    font-weight: var(--ralewayBold);
    margin: 0 auto;
}
.landing main p {
    color: var(--veryDarkBlue);
    font-size: var(--mobileText);
    line-height: 1.5;
    margin: 22px auto 42px;
    max-width: 90%;
    font-family: var(--openSans);
}
.landing form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    width: 85%;
}
.landing form input {
    outline: none;
    border: none;
    width: 100%;
    padding: 12px 22px;
    border-radius: 4px;
    background-color: white;
}
.landing form input:first-child {
    border: 1px solid var(--veryDarkBlue);
}
.landing form input:first-child + span {
    color: red;
    font-size: 11px;
    display: none;
    margin-top: -23px;
    border-radius: 7px;
    background: white;
    padding: 5px;
    margin-right: auto;
    margin-left: 7px;
}
.landing form input:first-child:invalid:not(:focus) {
    border: 1px red solid;
}
.landing form input:first-child:invalid:not(:focus) + span {
    display: inline;
}
.landing form input:first-child::placeholder {
    color: var(--lightGray);
}
.landing form input:last-child {
    color: white;
    background-color: var(--brightBlue);
    cursor: pointer;
    box-shadow: 0 .5px 10px 0 rgba(0, 0, 0, 0.4);
    transition: var(--mainTranistionDuration);
}
.landing form input:last-child:hover {
    background-color: #6b9bff;
}

@media (min-width: 540px) {
    header .logo {
        max-width: 130px;
    }
    header ul {
        font-size: 18px;
        gap: 35px;
        bottom: 5px;
    }
    .landing {
        padding: 60px 0 80px;
    }
    .landing .container {
        align-items: stretch;
    }
    .landing main {
        padding: 0 30px;
    }
    .landing .image-box {
        max-width: 85%;
        margin: 0 auto;
    }
    .landing main h1 {
        max-width: unset;
        font-size: 28px;
    }
    .landing main p {
        font-size:  20px;
        max-width: unset;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .landing .image-box {
        max-width: 50%;
    }
    .landing main h1 {
        font-size: 20px;
    }
    .landing main p {
        font-size: var(--mobileText);
    }
}
@media (min-width: 768px) {
    header {
        padding: 50px 0;
    }
    header .logo {
        max-width: 160px;
    }
    header ul {
        font-size: 18px;
        gap: 25px;
        bottom: 6.5px;
    }
    .landing {
        padding: 80px 0;
        text-align: start;
    }
    .landing .container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 60px;
    }
    .landing .image-box {
        min-width: 35%;
        max-width: 40%;
    }
    .landing main {
        padding: 0;
    }
    .landing main h1 {
        max-width: unset;
        line-height: 1.5;
        font-size: 26px;
        margin: 0 auto;
    }
    .landing main p {
        margin: 20px auto 30px;
        max-width: unset;
    }
    .landing form {
        flex-direction: row;
        width: 100%;
        position: relative;
        gap: 20px;
    }
    .landing form input {
        width: 100%;
        padding: 12px 22px;
        border-radius: 4px;
        background-color: white;
    }
    .landing form input:first-of-type {
        width: 100%;
        max-width: 70%;
    }
    .landing form input:first-of-type + span {
        position: absolute;
        top: 127%;
    }
    .landing form input:last-of-type {
        width: 100%;
        max-width: 35%;
    }
}
@media (min-width: 1440px) {
    header .logo {
        max-width: 160px;
    }
    header ul {
        font-size: 20px;
        gap: 35px;
        bottom: 7.4px;
    }
    .landing main h1 {
        font-size: 44px;
    }
    .landing main p {
        font-size:  25px;
        max-width: unset;
    }
    .landing form {
        width: 85%;
        margin-left: 0;
        font-size: 20px;
    }
}
/* landing end */


/* section start */

section {
    padding: 60px 0;
    background-color: var(--lightGrayishBlue);
    position: relative;
}

section .bg-mobile {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 99%;
    max-height: 70px;
}

section .bg-desktop {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 99%;
    max-height: 80px;
    display: none;
}

section .bg-desktop img,
section .bg-mobile img {
    width: 100%;
    height: 100%;
}

@media (min-width: 480px) {
    section .bg-mobile {
        display: none;
    }
    section .bg-desktop {
        display: initial;
    }
}

.bg-mobile img {
    width: 100%;
}

section .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

section .image-box {
    width: 95%;
    margin: 0 auto;
}
section .image-box img {
    width: 100%;
}

section h2 {
    color: var(--veryDarkBlue);
    font-weight: var(--ralewayBold);
    font-family: var(--raleway);
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

section .holder > p {
    color: var(--desaturatedBlue);
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 18px;
} 

section .holder > span {
    margin: 30px auto;
    color: var(--moderateCyan);
    font-size: 16px;
    padding: 6px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    border-bottom: 1px solid;
    transition: var(--mainTranistionDuration);
    cursor: pointer;
} 

section .holder > span p {
    position: relative;
    bottom: 1px;
}

section .holder > span:hover {
    color: #7fd8c6;
}

section .holder > span:hover svg use {
    fill: #7fd8c6 !important;
    transition: var(--mainTranistionDuration);
}

.card {
    max-width: 90%;
    background-color: white;
    box-shadow: 1px 1px 15px 0 #8383a84f;
    border-radius: 8px;
    padding: 30px 40px;
    color: var(--veryDarkBlue);
    font-family: var(--openSans);
    margin: 0 auto;
    line-height: 1.5;
    letter-spacing: .5px;
    font-size: 14px;
}

.card > img {
    width: 23px;
    margin-bottom: -1px;

}

.card .info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0 0;
}

.card .info img {
    border-radius: 50%;
    width: 40px;
}

.card .info .label {
    font-size: 15px;
    font-weight: var(--ralewayBold);
    font-family: var(--raleway);
}

.card .info .label p {
    font-size: 13px;
    font-weight: var(--openSansRegular);
    font-family: var(--openSans);
    margin-top: -1.5px;
}


@media (min-width: 480px) {
    section .image-box {
        width: 85%;
    }
    section h2 {
        font-size: 26px;
    }
    
    section .holder > p {
        max-width: 85%;
        font-size: 20px;
    } 
    .card {
        font-size: 18px;
    }
    .card .info .label {
        font-size: 18px;
    }
    .card .info .label p {
        font-size: 15px;
    }
    .card .info img {
        width: 50px;
    }
}
@media (min-width: 768px) {
    section .container {
        display: flex;
        /* flex-direction: row-reverse; */
        gap: 40px;
        align-items: center;
    }
    section .image-box {
        max-width: 75%;
    }
    section h2 {
        font-size: 30px;
    }
    
    section .holder > p {
        max-width: 90%;
        font-size: 20px;
        padding-left: 30px;
    } 
    .card {
        font-size: 20px;
    }
    .card .info .label {
        font-size: 20px;
    }
    .card .info .label p {
        font-size: 18px;
    }
    .card .info img {
        width: 60px;
    }
}
@media (min-width: 992px) {
    section .container {
        display: flex;
        /* flex-direction: row-reverse; */
        gap: 40px;
        align-items: center;
    }
    section .image-box {
        max-width: 65%;
    }
    section h2 {
        font-size: 34px;
    }
    
    section .holder > p {
        max-width: 90%;
        font-size: 24px;
        padding-left: 40px;
    } 
    section .holder > span {
        font-size: 20px;
    }
    .card {
        font-size: 22px;
        max-width: 85%;
    }
    .card .info .label {
        font-size: 22px;
    }
    .card .info .label p {
        font-size: 20px;
    }
    .card .info img {
        width: 70px;
    }
}
@media (min-width: 1200px) {
    section .container {
        display: flex;
        flex-direction: row-reverse;
        gap: 40px;
        align-items: center;
    }
    section .image-box {
        min-width: 40%;
    }
    section h2 {
        text-align: start;
        font-size: 28px;
    }
    
    section .holder > p {
        max-width: 90%;
        font-size: 22px;
        padding-left: 0px;
    } 
    section .holder > span {
        font-size: 20px;
        margin-left: 0;
    }
    .card {
        padding: 40px 45px;
        font-size: 18px;
        max-width: 85%;
        margin-left: 0;
        border-radius: 10px;
    }
    .card .info .label {
        font-size: 20px;
    }
    .card .info .label p {
        font-size: 18px;
    }
    .card .info img {
        width: 60px;
    }
}
/* section end */


/* email start */

.email {
    padding: 80px 0;
    text-align: center;
    background-color: var(--desaturatedBlue);
    color: white;
}

.email .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.email h2 {
    font-weight: var(--ralewayBold);
    font-family: var(--raleway);
    font-size: 20px;
    margin-bottom: 30px;
}

.email p {
    margin: 0 auto;
    max-width: 95%;
    line-height: 1.5;
    font-size: 18px;
}

.email form {
    width: 80%;
}

.email form input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 2px;
}

.email form input:first-child::placeholder {
    color: var(--lightGray);
}

.email form input:first-child {
    background-color: white;
    position: relative;
}
.email form input:first-child + span {
    color: white;
    font-size: 14px;
    margin-top: 5px;
    margin-right: auto;
    width: fit-content;
    display: none;
}
.email form input:first-child:invalid:not(:focus) {
    border: 1px solid red;
}
.email form input:first-child:invalid:not(:focus) + span {
    display: block;
}

.email form input:last-child {
    background-color: var(--brightBlue);
    font-weight: var(--ralewayBold);
    font-family: var(--raleway);
    margin-top: 10px;
    color: white;
    transition: var(--mainTranistionDuration);
    cursor: pointer;
}

.email form input:last-child:hover {
    background-color: #6b9bff;
}


@media (min-width: 992px) {
    .email h2 {
        font-size: 26px;
    }
    
    .email p {
        font-size: 22px;
        max-width: 85%;
        margin-bottom: 20px;
    }
    .email form {
        width: 70%;
        margin: 0 auto;
    }
    .email form input {
        display: block;
        padding: 15px 20px;
        font-size: 18px;
    }
    
}
@media (min-width: 1200px) {
    .email {
        text-align: start;
    }
    .email p  {
        margin-left: 0;
    }
    .email .container {
        flex-direction: row;
    }
    .email form {
        width: 90%;
    }
    .email form input:last-child {
        width: fit-content;
        margin-left: 0;
        margin-right: auto;
    }
}
/* email end */